<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:fragment="modelheader">
<head>
    <meta charset="UTF-8"/>
    <title>layout Gerenciamento</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<!--CABEÇALHO-->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Gerenciamento de Condominio" src="/img/condominio.png" style="width: 60px" />
            </a>
        </div>
    </div>
</nav>


<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
</body>
</html>