<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"  th:fragment="modelheader">

<head>
    <title>Cadastro de título</title>
</head>
<body>
<div th:insert="fragments/header :: modelheader"></div>
<form class="form-horizontal" method="POST" action="/titulos" id="form" th:object="${titulo}">
    <!--Alerta de cadastro com sucesso-->
    <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
        <span th:text="${mensagem}">Título salvo</span>
    </div>
    <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}"> <!--se o objeto titulo no forms tiver erro, renderiza essa parte-->
        <div th:each="detailedError : ${#fields.detailedErrors()}"> <!-- joga o erro na variavel detailedError-->
            <span th:text="${detailedError.message}"></span> <!--Apresenta o erro na tela-->
        </div>
    </div>

    <!--Ficha de cadastros-->
    <div class="panel panel-default form-dados">
        <div class="panel-heading">
            <h1 class="panel-title titulo-panel">Cadastro</h1>
            <a class="btn btn-link btn-link-panel" href="/titulos/">Pesquisar Titulo</a>
        </div>
        <br><br><br>
        <div class="panel-body">
            <div class="form-group">
                <label for="descricao" class="col-sm-2 control-label">Descrição</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="descricao" name="descricao"/>
                </div>
            </div>
            <div class="form-group">
                <label for="dataVencimento" class="col-sm-2 control-label">Data de vencimento</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control"	id="dataVencimento" name="dataVencimento"/>
                </div>
            </div>
            <div class="form-group">
                <label for="valor" class="col-sm-2 control-label">Valor</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="valor" name="valor"/>
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-2">
                    <select class="form-control" name="status">
                        <!--Criando as opções de status: pendente - cancelado - recebido-->
                        <option th:each="status: ${todosStatusTitulo}" th:value="${status}" th:text="${status.descricao}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="rodape" th:insert="fragments/footer :: modelfooter"></div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>