<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"  th:fragment="modelheader">

<head>
    <title>Pesquisa de títulos</title>

</head>
<div th:insert="fragments/header :: modelheader"></div>

    <!--PAINEL-->
    <div class="panel panel-default form-dados">
        <div class="panel-heading clearfix">
            <h1 class="panel-title titulo-panel">Pesquisa de Títulos</h1>
            <a class="btn btn-link btn-link-panel" href="/titulos/novo">Novo título</a>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center col-md-1">#</th>
                        <th>Descrição</th>
                        <th class="text-center col-md-2">Data de Vencimento</th>
                        <th class="text-right col-md-2">valor</th>
                        <th class="text-center col-md-2">Status</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6">Nenhum título foi encontrado</td>
                    </tr>
<!--<tr th:each=""></tr>-->
                </tbody>
            </table>

        </div>
    </div>
<div class="rodape" th:insert="fragments/footer :: modelfooter"></div>
</html>