<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"  th:fragment="modelheader">

<head>
    <title>Pesquisa de títulos</title>

</head>
<div th:insert="fragments/header :: modelheader"></div>

    <!--PAINEL-->
    <div class="panel panel-default form-dados">
        <div class="panel-heading clearfix">
            <h1 class="panel-title titulo-panel">Pesquisa de Títulos</h1>
            <a class="btn btn-link btn-link-panel" href="/titulos/novo">Novo título</a>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center col-md-1">#</th>
                        <th>Descrição</th>
                        <th class="text-center col-md-2">Data de Vencimento</th>
                        <th class="text-right col-md-2">valor</th>
                        <th class="text-center col-md-2">Status</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <!--VALORES DA TABELA-->
                <tbody>
                    <tr th:each="titulo: ${titulos}">
                        <td class="text-center" th:text="${titulo.codigo}">1</td>
                        <td th:text="${titulo.descricao}"></td>
                        <td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
                        <td class="text-center" th:text="|R$ ${{titulo.valor}}|"></td> <!--Concatenação-->
                        <td class="text-center">
                            <span class="badge rounded-pill " th:text="${titulo.status.descricao}"
                            th:classappend="${titulo.pendente ? 'text-bg-warning' : 'text-bg-success'}">Success</span>
                        </td>
                        <td class="text-center" >

                        </td>
                    </tr>
                    <tr>
                        <!--lista de titulos for vazia / #lists - objeto utilitario -->
                        <td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
<div class="rodape" th:insert="fragments/footer :: modelfooter"></div>
</html>